body{
    margin-left: 40%;
    margin-top: 15%;
}
#tictactoeContainer{
    display:flex;
    flex-wrap: wrap;
    width:150px;
    height: 150px;
   
}
#tictactoeContainer>div{
    width:30%;
    height:50px;
    border: 1px solid;
    text-align: center;
}
#tictactoeContainer~div{
    margin-top: 10px;
}